* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

/*Nav Bar*/
header {
    height: 120px;
    padding: 0 100px 0 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-text1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
}

nav button {
    width: 250px;
    height: 56px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


/*First Banner*/
.banner1 {
    display: flex;
    align-items: center;
    padding: 100px;
    gap: 50px;
    flex-direction: space-between;
}

.ban1-content {
    width: 50%;
    height: ;
    display: flex;
    flex-direction: column;
    justify-content: right;
    row-gap: 20px;
}

.bancon1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 200px;
}

.bancon {
    padding-top: 0px;
    margin-top: 0px;
}

.banner1-title {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banp {
    display: flex;
    align-items: center;
    gap: 10px;
    ;
}

.ban1-para {
    height: 24px;
}

.pr-btn {
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 20px;
}

.btn1 {
    background: var(--linear);
}

.btn2 {

    background: #4EC5F7;
}

.img1 {
    width: 100%;
    height: 100%;
}

/*Cards section*/

.videos>h2 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.videos>h2>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.videos>p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    padding: 0 30px;

}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
}

.gameid {
    width: 300px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-top: 10px;
    padding-bottom: 0;
}

.cpara {
    width: 300px;
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}

/*Ad Section*/
.ads {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 50px 0 50px 0;
}

.ads-1 {
    width: 300px;
    height: auto;
    justify-content: flex-end;
    padding-left: 200px;
}

.ad-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ad-title>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ad-des {
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.ad-img-1 {
    width: 600px;
    height: 560px;
    position: relative;
    padding-left: 80px;
    padding-right: 0;
}

.ad-img-2 {
    width: 280px;
    height: 320px;
    position: absolute;
    z-index: 1;
    transform: translateY(300px);
}

/*Games Category*/
.game {
    padding: 80px;
}

.game1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.game2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gcats {
    display: flex;
    min-width: fit-content;
    gap: 10px;
    align-items: center;
    border: none;
    height: 55px;
    background: #FFF;
    padding: 0.65rem 1.25rem;
    margin: 10px;
}

.gcats:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    cursor: pointer;
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cat {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

/* Footer Section */
footer {
    width: 100%;
    height: 580px;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-icon {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icon-text {
    color: #FFF;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

.pinky {
    color: #FF42A5;
}

.foot-names {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
}

.names {
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.foot-logos {
    display: flex;
    gap: 40px;
    margin: 40px;
}

.terms {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
}

.tnc {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1 rem;
    font-weight: 500;
}

.copyright {
    margin: 25px;
}
@media screen and (max-width:450px) {
    
    header{
        height: auto;
        width: auto;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        flex-direction: column;

    }
}